<div id="<%= dom_id(step) %>">
	<p>
		<%= step.description %>
		<%= link_to 'Edit', edit_list_step_path(@list, step) %> |
		<%= link_to 'Delete', list_step_path(@list, step), method: :delete %>
	</p>
</div>

